<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css" />
<script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
<script src="/webjars/jquery/jquery.min.js"></script>
</head>
<body>
	<table class="table">
		<thead class="thead-dark">
			<tr>
				<th scope="col">CI</th>
				<th scope="col">Nombre</th>
				<th scope="col">Curso</th>
				<th scope="col">Editar</th>
				<th scope="col">Eliminar</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="alumno: ${alumnos}">
				<td th:text="${alumno.ci}"></td>
				<td th:text="${alumno.nombre}"></td>
				<td th:text="${alumno.curso}"></td>
				<td>
					<form th:action="@{|/alumno/editar/${alumno.id}|}">
						<input type="submit" value="Editar">
					</form>
				</td>
				<td>
					<form th:action="@{/alumno/borrar}" method="post"
						onsubmit="return confirm('¿Está seguro de eliminar al alumno?');">
						<input type="hidden" th:value="${alumno.id}" name="id"> <input
							type="submit" value="Borrar">
					</form>
				</td>
			</tr>
		</tbody>
	</table>
	<a th:href="@{/alumno/agregar}" th:text="Agregar" class="btn btn-primary"></a>
</body>
</html>